body {
  background-color: black;
  font-family: "Inter", sans-serif;
  color: white;
}

main {
  position: relative;
  width: 400px;
  height: 500px;
  margin: 80px auto;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  z-index: 0;
}

main::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 4px;
  background: linear-gradient(
    270deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet,
    red
  );
  background-size: 400% 400%;
  animation: rainbow 8s linear infinite;
  border-radius: 10px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1,
h2 {
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
}

h2 {
  margin-top: 60px;
}

#logo {
  display: block;
  margin: 0 auto;
  width: 90px;
  height: 100px;
}

#form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-container button {
  width: 100px;
  margin-top: 10px;
}

input,
select {
  width: 300px;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

button,
.button,
#registerbutton {
  margin-top: 40px;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-size: 14px;
}

#registerbutton {
  background-color: #2196f3;
  width: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.password-container {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password-container input {
  width: 70%;
}

#forgotpassword {
  display: block;
  width: 300px;
  text-align: right;
  font-size: 12px;
  margin-top: 2px;
  color: blue;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

#forgotpassword:hover {
  color: #333;
}

p {
  margin: 10px 0;
  color: white;
  font-family: "Inter", sans-serif;
}

select {
  background-color: #fff;
  color: #333;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px 20px;
}

select:focus {
  border-color: #4caf50;
  outline: none;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

select option[disabled] {
  color: #999;
}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
}
